
body {
    background: tan ;
}

.pano{
    width:100vw;
    
 
}
.nav-link {
    color:black;
    text-decoration:none;
    border:black 2px solid;
    border-radius:8px;
    margin:0 2px;
    box-shadow: 2px 2px;
}

.nav-link:hover {
    box-shadow:none;
    text-decoration: none;
    color:black;
}

.lgo {
    
    width:60%;
  
  
}

.sign {
    width:30vw;
}




.col-lg-6 {
margin-top:4vh;
max-width:80vw;
}

h3 {
    font-size:3vh;
}

h4 {
    font-size:2.2vh;
}

h6 {
    font-size:2vh;
}

p {
    font-size:1.8vh;
}

.footer {
    background:#6C0000 ;
    color:tan;
    padding: 0 10vw 0 10vw;
    font-weight: bold;
    min-height: 6vh;
    padding-top:1vh;
}

.main-index {
    padding-bottom:13vh;
}

.nav-link-custom {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.menu {
    margin-top:3vh;
    margin-bottom:2vh;

}

.btn {
    text-decoration: none;
    color:black;
}




.table {
    font-size: 14px;
    background:tan;
    border: black solid 2px;
}

.card-body {
   background:tan;
}

.card-header {
    background:#7E572B;
}

.card-header:hover {
    transform:scale(.99);

    
}

.btn-link:hover {
    text-decoration: none;
    color:black;
    font-weight:bold;
}

.card {
    background:black;
}





