
.pano{
    width:100vw;
 
}
.nav-link {
    color:black;
    text-decoration: underline;
}

.lgo {
    
    width:60%;
  
  
}

.sign {
    max-height:17vh;
}




.col-lg-6 {
margin-top:4vh;
max-width:80vw;
}

h3 {
    font-size:3vh;
}

h4 {
    font-size:2.2vh;
}

h6 {
    font-size:2vh;
}

p {
    font-size:1.8vh;
}

.footer {
    background:#6C0000 ;
    color:black;
    padding: 0 10vw 0 10vw;
    font-weight: bold;
    min-height: 6vh;
    padding-top:1vh;
}

main {
    padding-bottom:8vh;
}

.menu {
    padding-top: 10px;
    background-color:tan;
    margin:0 10vw 0 10vw;
 
}
