
.pano{
    width:100vw;
 
}
.nav-link {
    color:black;
    text-decoration: underline;
}

.lgo {
    
    width:60%;
  
  
}

.sign {
    max-height:17vh;
}




.col-lg-6 {
margin-top:4vh;
max-width:80vw;
}

h3 {
    font-size:3vh;
}

h4 {
    font-size:2.2vh;
}

h6 {
    font-size:2vh;
}

p {
    font-size:1.8vh;
}

.footer {
    background:#6C0000 ;
    color:black;
    padding: 0 10vw 0 10vw;
    font-weight: bold;
    min-height: 6vh;
    padding-top:1vh;
}

.main-index {
    padding-bottom:13vh;
}

.menu {
    padding-top: 10px;

   
 
}

.menu-row {
    margin: 5vh 2vw 0 0;
    
    padding-bottom:5vh;
  
}

.col-lg-5 {
    background:darkred;
    border-radius: 10px;
    border:black 3px solid;
    padding-bottom:10px;
    margin-right:1vw;
    margin-top:5vh;
}

.button-text {
    font-size:14px;
    color:white;
    font-weight: bold;
}

.main-back {
    
}

.card {
    color:;
    background:#796341;
    border: white 2px solid;
}

.card-body {
    background:tan;
}

.menu > h2 {
    color:white;
    text-decoration: underline;
}